<div class="table-responsive" *ngIf="datos">
  <table class="table table-sm table-hover table-striped">
    <thead>
      <tr>
        <th>userId</th>
        <th>id</th>
        <th>title</th>
        <th>body</th>
      </tr>
    </thead>
    <tbody>
<!--      <tr *ngFor="let data of datos; let i=index;">-->
<!--        <td>{{data?.userId}}</td>-->
<!--        <td>{{data?.id}}</td>-->
<!--        <td>{{data?.title}}</td>-->
<!--        <td>{{data?.body}}</td>-->
<!--      </tr>-->
    </tbody>
  </table>
</div>
