<main role="main" class="container p-4">
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="card border border-light shadow shadow-sm">
        <div class="card-body">
          <h3 class="card-title text-decoration-underline">Home page</h3>
          <div class="row mb-3">
            <div class="col-md-4 ">
              <span class="text-center text-decoration-bold text-uppercase">For home component</span>
            </div>
            <div class="col-md-6">
              <span class="text-center text-decoration-bold text-uppercase">For Child component</span>
              <app-home-child></app-home-child>
            </div>
            <div class="col-md-2">
              <span class="text-center text-decoration-bold text-uppercase">For Ngrx</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
